<div id="del_myModal" class="del_modal">

    <div class="del_modal-content" id="0">
        Are you sure you want to delete this?
        <br>
        <br>
        <br>
        <div class="del_modal_options">
            <div class="del_close">Close</div>
            <div class="del_delete">Delete</div>
        </div>
    </div>

</div>