<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>WeTalk</title>
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <h2>Log in to continue</h2>
    <br>
    <section  style="display:flex; flex-wrap:nowrap; align-items: center; justify-content: space-between; padding: 0 5vw;"><img src="/public/icons/wetalk_logo.png">
    <div style="font-size: 20px; width: 50%; font-family:'Courier New', Courier, monospace;">An initiative to be socialize through chats, gossips and question answer
        <br>
        <br>
         get an emmersive experience by knowing and talking with other buddies!
    </div>
    </section>
    <br>
    <br>
<div class="container">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-github"></span> Github OAuth</h1>
        <p>Authorize your app with:</p>
        <a href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>" class="btn btn-danger"><span class="fa fa-github"></span> Github Login</a>
    </div>
</div>
</body>
</html> 