<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Official bloging site">
    <meta name="keywords" content="Blog, Tech, Dev">
    <meta name="author" content="Souvik Mandal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <title>New Post</title>
</head>

<body>
    <header class="header">
        <div class="logo"><img alt="image" height="50px" width="50px" src="/public/icons/wetalk_logo.png"></div>
        <div class="searchbox"> <input placeholder="search" type="search"><button><img alt="image"
                    src="/public/icons/search.png" alt="search"></button> </div>
        <div class="icons">
            <a href="new_post" class="create_new"
                style="text-decoration: none; font-weight: 600; font-size: 22px; border: rgb(194, 215, 233) 1px solid; border-radius: 5px; background-color: rgb(135, 181, 222);"><img
                    alt="image" src="/public/icons/new_post.png" alt="create new" width="30px"> create post</a>
            <div class="sub-navs"><img alt="image" src="/public/icons/Hamburger.png" alt="" width="30px"></div>
        </div>
    </header>

    <br>
    <br>
    <br>

    <section class="body">


        <section class="menu">
            <div class="collapsible"><img id="arrow" src="/public/icons/angle-right-solid.svg" height="30px"
                    alt="arrow">
            </div>

            <a href="/home">
                <div>Home</div>
            </a>

            <a href="/about">
                <div>About </div>
            </a>

            <a href="https://github.com/<%= userData.github_ID %>">
                <div>My Account</div>
            </a>

            <a href="/logout">
                <div>Logout</div>
            </a>

        </section>


        <section class="news_feed">


            <div class="new_post">
                <div class="headline">
                    <div>Create Post</div>
                    <a href="/home">Close</a>
                </div>
                <div class="author"><img alt="image" src="<%= userData.profile_img %>">
                    <span>
                        <%= userData.name %>
                    </span>

                </div>
                <textarea class="textarea" id="input" placeholder="Type your thoughts..."></textarea>

                <br>

                <div class="warning_msg" style="text-align: center; color: brown; font-weight: 600;"></div>

                <div class="additionals">
                    <p class="image-viewer">Add Image</p>

                    <div>
                        <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)"
                            style="display: none;">

                        <label title="upload image" for="file" style="cursor: pointer;">
                            <img src="/public/icons/upload-image.png" height="40px">
                        </label>
                        <img title="schedule time to post (feature will available soon...)"
                            src="/public/icons/schedule-time-post.png" height="35px"> <img
                            title="save as draft (feature will available soon...)"
                            src="/public/icons/save-as-draft.png " height="35px">
                    </div>
                </div>

                <br>

                <button id="submit">Post</button>
            </div>


            <br>
            <br>
            <br>


        </section>
        <section class="extension">
            <div class="profile"></div>
        </section>
    </section>

    <!-- <div class="popup_button"></div> -->


    <div id="background-progress">
        <div id="myProgress">
            <h5 id="plWait">Please wait...</h5>
            <div id="myBar"></div>
        </div>
    </div>

</body>

<script src="/public/script.js"></script>
<script type="text/javascript" src="https://unpkg.com/imagekit-javascript/dist/imagekit.min.js"></script>

<script>

    // const hostURL = 'http://127.0.0.1:5510/'                        // localhost
    // const hostURL = 'http://192.168.1.128:5510/'                    // my LAN
    const hostURL = 'https://wetalk021.herokuapp.com/'              // production

    var imagekit = new ImageKit({
        publicKey: "public_didX9wfZiv5DrABxZgaKOYmNRuE=",
        urlEndpoint: "https://ik.imagekit.io/weTalk/images",
        authenticationEndpoint: `${hostURL}auth/imagekit/redirect`,
    });


    function move() {
        document.querySelector("#background-progress").style.display = 'block'
        let i = 0;
        if (i == 0) {
            i = 1;
            var elem = document.getElementById("myBar");
            var width = 1;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= 90) {
                    clearInterval(id);
                }else if ( width < 25) {
                    width = width+0.1;
                    elem.style.width = width + "%";
                } else if ( width < 50) {
                    width = width+0.05;
                    elem.style.width = width + "%";
                }else if ( width < 70) {
                    width = width+0.02;
                    elem.style.width = width + "%";
                }else {
                    width = width+0.005;
                    elem.style.width = width + "%";
                }
            }
        }
    }

    function loadFile(event) {
        var imageViewer = document.querySelector('.image-viewer');
        imageViewer.innerHTML = `<img id="raw-image" src="${URL.createObjectURL(event.target.files[0])}" height="56px" weight="60px"> <span title="delete image" style="cursor: pointer; color: brown" onclick="deleteImage()"><b>X</b><span>`;
    };
    function deleteImage() {
        var imageViewer = document.querySelector('.image-viewer');
        imageViewer.innerHTML = "Add Image"
        document.getElementById("file").files[0] = null
    }



    var user = {
        post: function (content) {
            var file = document.getElementById("file");

            if (file.files[0]) {
                move()
                imagekit.upload({
                    file: file.files[0],
                    fileName: "img.jpg"
                }, function (err, result) {
                    if (err) {
                        console.log(err);
                        document.querySelector("#background-progress").style.display = 'none';
                        document.querySelector(".warning_msg").innerHTML = err.msg;
                    } else{
                    // console.log(result);
                    // console.log(arguments);
                    var mediaURL = imagekit.url({
                        src: result.url,
                        transformation: [{ width: 600 }]
                    })
                    console.log(mediaURL);


                    let data = { content: content, media: mediaURL, mediaId: result.fileId }
                    user.upload_data(data)
                    }
                });
            } else {
                let data = { content: content, media: '', mediaId: '' }

                if (content.length < 1501 && content.length > 1) {
                    move()
                    user.upload_data(data)
                } else {
                    setTimeout(clearAlert, 2500)
                    document.querySelector(".warning_msg").innerHTML = `<p style="color:brown; text-align: center">word limit not matched! (must be within 2-600)</p>`
                }

                function clearAlert() { document.querySelector(".warning_msg").innerHTML = '' }
            }

        },

        upload_data: function (data) {
            let content = data.content
            let media = data.media
            let mediaId = data.mediaId
            fetch(`${hostURL}activity/onpost/create`, {
                "method": "POST",
                "headers": {
                    "key": "12345",
                    "content-type": "application/json"
                },
                "body": JSON.stringify({
                    content: content,
                    media: media,
                    mediaId: mediaId
                })
            })
                .then((Response) => {
                    document.querySelector("#background-progress").style.display = 'none'
                    if (Response.status == 200) {
                        window.location.href = '/home'
                    }
                    return Response.json();
                })
                .then((getData) => {
                    console.log(getData);
                    document.querySelector(".warning_msg").innerHTML = `${getData.msg} <br>`
                }).catch((err) => {
                    console.log(err);
                    window.location.href = '/login'
                });
        }
    }

    document.querySelector("#submit").addEventListener("click", (e) => {
        e.preventDefault()
        let content = document.querySelector("#input").value
        user.post(content)
    });
</script>

</html>